<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qtrial.insatsberaknaren">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_new"
        android:label="Beräkna Insats"
        android:roundIcon="@mipmap/ic_launcher_new_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.qtrial.insatsberaknaren.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.qtrial.insatsberaknaren.PopActivity"
            android:theme="@style/AppTheme.PopMe" />
        <activity android:name="com.qtrial.insatsberaknaren.InfoPopActivity"
            android:theme="@style/AppTheme.PopMe">
        </activity>
    </application>

</manifest>